body, #mainWrapper {
	height: 70%;
	background-color:rgb(245, 245, 245);
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*body, .form-control{*/
	/*font-size:12px!important;*/
/*}*/

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
}

.panel-default {
    border-color: #ddd;
}

thead th {
    text-align: left;
}

.panel-heading {
    text-align: center;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}

.lead {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
}

.table > thead > tr > th,
.table > tbody > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

textarea {
    width: 600px;
    height: 150px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
}

.input-sm {
    width: 482px;
    height: 30px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
}

.form-group {
    margin-bottom: 25px;
}

.form-control {
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
}

.btn:hover, .btn:focus{
    text-decoration: none;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.custom-width {
    width: 76px !important;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.cancel-link {
    margin-left: 20px;
    margin-right: 20px;
}

/*.btn-lg {*/
    /*padding: 10px 16px;*/
    /*font-size: 18px;*/
    /*line-height: 1.3333333;*/
    /*border-radius: 6px;*/
/*}*/


.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error {
    display: inline;
	color:red;
}

.formcontainer{
	background-color: #DAE8E8;
	padding: 20px;
}

.generic-container {
  width:80%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}